@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap');

.ProjectsHeader {

  margin: 60px 0px -30px 210px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 4em;
  color: #BE5504;

}

.ProjectHeaderInformation {
  margin-left: 210px;
  font-family: 'Oswald', sans-serif;

  h2 {
    margin: 50px 0px 0px 0px;
    font-size: 2em;
    color: #456173;
  }

  p {
    margin: 0px 0px 30px 0px;
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

.ProjectHeaderFlex {
  display: flex;

  .ProjectHeaderFlexDots {
    color: #456173;
    margin: 0px 5px 0px 5px;
  }  

  a {
    text-decoration: none;
  }

  p:hover {
    color: #BE5504;
  }

  p {
    color:rgb(8, 179, 247);
  }
}

.ProjectDetails {
  display: flex;
  align-items: center;
  margin-left: 210px;
  margin-top: -15px;
  margin-bottom: 15px;

  h2 {
    margin: 0px 0px 10px 50px;
    font-family: 'Oswald', sans-serif;
    color: #456173;
  }

  h3 {
    margin: 10px 0px 0px 50px;
    font-family: 'Oswald', sans-serif;
    color:rgb(8, 179, 247);
  }

  p {
    margin: 10px 0px 0px 50px;
    width: 30vw;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #456173;
  }

  img {
    height: auto;
    width: 500px;
    border-radius: 5px;
    border: 2px solid #456173;
  }
}

@media only screen and (max-width: 415px) {
  .ProjectsHeader {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 3em;
    text-align: center;
  }

  .ProjectHeaderInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    h2 {
      margin: 0px;
      margin-top: 15px;
    }

    p {
      margin-bottom: 15px;
    }
  }

  .ProjectDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    img {
      height: auto;
      width: 320px;
    }

    p {
      margin: 0px 15px 0px 15px;
      padding: 10px 10px;
      width: auto;
      font-size: 1em;
      text-align: center;
    }

    h2 {
      margin: 0 auto;
      margin-top: 10px;
      text-align: center;
    }

    h3 {
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 1650px) {
  .ProjectsHeader {
    margin-left: 260px;
  }
  .ProjectHeaderInformation {
    margin-left: 260px;
  }
  .ProjectDetails {
    margin-left: 260px;
  }
}

@media only screen and (min-width: 1700px) {
  .ProjectsHeader {
    margin-left: 280px;
  }
  .ProjectHeaderInformation {
    margin-left: 280px;
  }
  .ProjectDetails {
    margin-left: 280px;
  }
}

@media only screen and (min-width: 1750px) {
  .ProjectsHeader {
    margin-left: 280px;
  }
  .ProjectHeaderInformation {
    margin-left: 280px;
  }
  .ProjectDetails {
    margin-left: 280px;
  }
}

@media only screen and (min-width: 1850px) {
  .ProjectsHeader {
    margin-left: 320px;
  }
  .ProjectHeaderInformation {
    margin-left: 320px;
  }
  .ProjectDetails {
    margin-left: 320px;
  }
}

@media only screen and (min-width: 1900px) {
  .ProjectsHeader {
    margin-left: 320px;
  }
  .ProjectHeaderInformation {
    margin-left: 320px;
  }
  .ProjectDetails {
    margin-left: 320px;
  }
}
