@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.FlexSkillsSection {
  display: flex;
  align-content: center;
  justify-content: center;
}

.TechstackUL {

  width: 71vw;
  margin: 0px;
  display: grid;
  grid-gap: 15px;
  padding: 10px 10px 0px 10px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  list-style: none;

  li {

    p{
      padding: 3px 3px;
      margin: 0px 0px 0px 10px;
      color: #456173;
    }

    h2 {
      margin: 0px 0px 8px 0px;
      line-height: 1em;
      color: white;
      background-color: #456173cc;
      padding: 10px 10px;
      margin: 0px;
      font-size: 1.1em;
      text-transform: uppercase;
    }

    justify-content: center;
    font-family: 'Oswald', sans-serif;
    margin: 5px 5px 5px 5px;
    transition: 50ms ease-in-out;

  }

  li:hover {
    transform: translate3d(-2px, -2px, 0);
  }
}

.Flex {
  display: flex;
  justify-content: space-between;
}

.Overflow {
  margin-right: 40px;
}

.TechStackHeader {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
  margin-top: 50px;
  text-transform: uppercase;
  color: #BE5504;
  font-size: 4em;
  margin-left: 210px;
}

@media only screen and (min-width: 1500px) {
  .TechstackUL {
    width: 72vw;
  }
}

@media only screen and (min-width: 1650px) {
  .TechstackUL {
    width: 75vw;
  }
}

@media only screen and (min-width: 1750px) {
  .TechstackUL {
    width: 76vw;
  }
}

@media only screen and (min-width: 1900px) {
  .TechstackUL {
    width: 78vw;
  }
}