@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap');

.FlexSkillsSection {
  display: flex;
  align-content: center;
  justify-content: center;
}

.TechstackUL {

  width: 71vw;
  margin: 0px;
  margin-top: 30px;
  display: grid;
  grid-gap: 15px;
  padding: 10px 10px 0px 10px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  list-style: none;

  li {

    p{
      padding: 3px 3px;
      margin: 0px 0px 0px 10px;
      color: #456173;
      font-weight: 300;
      font-size: 1.1em;
    }

    h2 {
      margin: 0px 0px 8px 0px;
      line-height: 1em;
      color: white;
      background-color: #456173cc;
      padding: 10px 10px;
      margin: 0px;
      font-size: 1.2em;
    }

    justify-content: center;
    font-family: 'Oswald', sans-serif;
    margin: 5px 5px 5px 5px;
    transition: 50ms ease-in-out;
    background-color: white;

  }
}

.Flex {
  display: flex;
  justify-content: space-between;
}

.Overflow {
  margin-right: 40px;
}

.TechStackHeader {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
  margin-top: 100px;
  color: #BE5504;
  font-size: 4em;
  margin-left: 220px;
}

@media only screen and (min-width: 1500px) {
  .TechstackUL {
    width: 67vw;
  }
  .TechStackHeader {
    margin-left: 260px;
  }
}

@media only screen and (min-width: 1650px) {
  .TechstackUL {
    width: 68vw;
  }
}
  
@media only screen and (min-width: 1700px) {
  .TechstackUL {
    width: 68vw;
  }
  .TechStackHeader {
    margin-left: 280px;
  }
}

@media only screen and (min-width: 1750px) {
  .TechstackUL {
    width: 67vw;
  }
  .TechStackHeader {
    margin-left: 290px;
  }
}

@media only screen and (min-width: 1900px) {
  .TechstackUL {
    width: 67vw;
  }
  .TechStackHeader {
    margin-left: 320px;
  }
}

@media only screen and (max-width: 415px) {
  .TechStackHeader {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
  }
}