@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.ContactMeHeader {

  margin: 90px 0px 20px 210px;
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  color: #BE5504;

}

.ContactDiv {

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 40px;
  width: 65vw;
  font-family: 'Oswald', sans-serif;
  color: white;
  background-color: #456173;
  border-radius: 10px;

  .DocumentText {
    margin-left: 14px;
  }

  .SocialIcon {
    font-size: 4em;
    margin: 0px 5px 0px 5px;
  }

  .SocialIcon:hover {
    color: #BE5504;
  }

  a {
    color: white;
    font-size: 1.5em;
  }

  a:hover {
    color: #BE5504;
  }

  p {
    margin: 0px 0px 0px 10px;
    display: inline;
    font-size: 1.5em;
  }

  h2 {
    margin: 0px 0px 10px 50px;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
  }

  div {
    margin-left: 40px;
  }
}
.PhoneIcon {
  font-size: 1.6em;
}

.ContactDivFlex {
  display: flex;
  justify-content: space-evenly;
}

.SocialIconsContainer {
  margin-right: 100px;
}

@media only screen and (min-width: 1500px) {
  .ContactDiv {
    width: 67vw;
  }
}

@media only screen and (min-width: 1650px) {
  .ContactDiv {
    width: 70vw;
  }
}

@media only screen and (min-width: 1750px) {
  .ContactDiv {
    width: 71vw;
  }
}

@media only screen and (min-width: 1900px) {
  .ContactDiv {
    width: 73vw;
  }
}

@media only screen and (max-width: 415px) {
  .ContactMeHeader {
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
  }

  .ContactDiv {
    margin-bottom: 30px;
    
    h2 {
      margin: 0 auto;
      text-align: center;
    }
  }

  .ContactDivFlex {
    margin: 0px;
    display: flex;
    flex-direction: column;

    div {
      margin: 0px;
    }

    p {
      font-size: 1em;
    }
  }

  .SocialIconsContainer {
    display: flex;
  }
}
