@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.Header {

  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #456173;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    color: #f2f2f0;
    margin: 15px 0px 0px 0px;
  }

  h2 {
    margin: -5px 0px 40px 0px;
    font-family: 'Oswald', sans-serif;    
    color: #a6ed8e;
    animation-name: h2;
    animation-duration: 1s;
  }

  @keyframes h2 {
    0%      {transform: translateX(-1000%);}
    100%    {transform: translateX(0);}
  }
}

.flexLogos {
  background-color: white;
  padding: 15px;
  border-radius: 10px;

  a {
    color: #456173;
    font-size: 2em;
    margin-left: 4px;
    margin-right: 4px;
  }
  a:hover {
    color: #a6ed8e;
  }

  .phoneImage {
    p {
      display: inline;
      font-size: .63em;
      margin: 0px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #456173;
    font-size: 2em;
    margin-left: 4px;
    margin-right: 4px;
    font-family: 'Oswald', sans-serif;
  }
  .phoneImage:hover {
    color: #a6ed8e;
    p {
      color: #456173;
    }
  }
}
