@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.Header {

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #456173;
  margin-bottom: 50px;

  h1 {
    margin: 15px 0px 0px 0px;
    color: #f2f2f0;
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
  }

  h2 {
    margin: -5px 0px 40px 0px;
    color: #a6ed8e;
    font-family: 'Oswald', sans-serif;    
    animation-name: h2;
    animation-duration: 1s;
  }

  @keyframes h2 {
    0%      {transform: translateX(-1000%);}
    100%    {transform: translateX(0);}
  }
}

.flexLogos {

  padding: 15px;
  border-radius: 10px;
  background-color: white;

  a {
    font-size: 2em;
    margin: 0px 4px 0px 4px;
    color: #456173;
  }
  
  a:hover {
    color: #a6ed8e;
  }

  .phoneImage {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 4px 0px 4px;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: #456173;

    p {
      display: inline;
      margin: 0px;
      font-size: .63em;
    }
  }

  .phoneImage:hover {

    color: #a6ed8e;

    p {
      color: #456173;
    }
  }
}
