@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap');

.AboutMe {

  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72%;

  img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: #456173;
  }
}

.AboutMeFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.AboutMeParagraph {
  height: auto;
  border: 2px solid #456173cc;
  padding: 5px 30px 5px 30px;
  margin-left: 30px;
}

.AboutMeHeader {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #a6ed8e;
  font-size: 4em;
  margin-left: 210px;
}